.App {
 text-align: center;
  margin: 10% auto;
  width:350px  ;
  height: 250px;
  background-color: #9bb3e3;
  background-color: 1px solid palevioletred;
}

h1 {
  padding: 10px 20px;
  color: salmon;
}
h1:hover{
  font: 50px;
  color: white;
  animation: forwards;
}

input{
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 8px;
}
input::placeholder{
  text-align: center;
}
input:hover{
  border: 1px solid purple;
}

button{
  margin-right:20px;
  margin-top: 40px;
  font: 10px;
  width: 70px;
  height: 40px;
  border-radius: 9px;
  padding: 2.5%;
  border-width: 10px;
  border: 1px ;
  background-color: rgb(192, 112, 216);
}